﻿<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="fa" />
    <title></title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/libs/modernizr-2.8.3.min.js"></script>

    @RenderSection("css", false)

</head>
<body style="direction: rtl;">

    <div class="wrapper">
        <div class="navbar navbar-inverse " id="main-nav">
            <div class="navbar-header">
                <a href="/Home/Index">
                    <img alt="" class="navbar-brand" id="logo" src="~/Content/Images/amlak.png" />
                </a>
                <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync("GetMenu")
            }
            else
            {
                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown noti-dropdown main">
                        <a href="/Account/Signup">
                            <span class="badge bage-noti digit"></span>
                            <span class="fa fa-user-plus  animated infinite swing"></span>
                            ثبت نام
                        </a>
                    </li>
                    <li class="dropdown noti-dropdown main">
                        <a href="/Account/Signin">
                            <span class="badge bage-noti digit"></span>
                            <span class="fa fa-user  animated infinite swing"></span>
                            ورود
                        </a>
                    </li>


                </ul>
            }
        </div>

    </div>

    <div class="wrapper">
        <!-- Dialogs
        ================================================== -->
        <div class="row">
            @if (IsSectionDefined("Menu"))
            {
                <aside class="col-md-2  animated fadeInRight">
                    <div class="panel">
                        <div class="list-group panel-body" id="sidebar">
                            @RenderSection("Menu", required: false)
                        </div>
                    </div>
                </aside>
                <div class="col-md-10  ">
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="col-md-12 ">
                    @RenderBody()
                </div>
            }
        </div>
    </div>

    <script src="~/js/jquery-3.2.1.min.js"></script>

    <script src="~/Scripts/libs/bootstrap.min.js"></script>
    <script src="~/Scripts/libs/respond.min.js"></script>
    <script src="~/Scripts/plugins/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/plugins/jquery.dlmenu.min.js"></script>
    <script src="~/Scripts/plugins/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/plugins/jquery.mvc.asyncLoad.min.js"></script>
    <script src="~/Scripts/plugins/jquery.mvc.scan.min.js"></script>
    <script src="~/Scripts/plugins/jquery.mvc.getJson.min.js"></script>
    <script src="~/Scripts/customs/noty.alerts.min.js"></script>
    <script src="~/Scripts/customs/ajax.methods.min.js"></script>
    <script src="~/Scripts/plugins/fileinput.min.js"></script>
    <script src="~/Scripts/plugins/jquery.farsiInput.min.js"></script>
    <script src="~/Scripts/customs/site.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
