﻿@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row bench-marks">
    <div class="col-md-2">
        <div class="media btn-lg btn-danger">
            <div class="media-left">
                <span class="fa fa-code"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span class="digit"></span>
                    Asp.Net Core
                </h4>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="media btn-lg btn-info">
            <div class="media-left">
                <span class="fa fa-info"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span class="digit"></span>
                    EntityFrameWork Core
                </h4>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="media btn-lg btn-warning">
            <div class="media-left">
                <span class="fa fa-info"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span class="digit"></span>
                    Repository Pattern
                </h4>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="media btn-lg btn-info">
            <div class="media-left">
                <span class="fa fa-lightbulb-o"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span class="digit"></span>
                    Clean Architecture
                </h4>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="media btn-lg btn-default">
            <div class="media-left">
                <span class="fa fa-database"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span class="digit"></span>
                    SQL Server (Code First)
                </h4>
            </div>

        </div>
    </div>
</div>
