﻿@using Sample_Project.Domain.Entities.Estates
@model Sample_Project.Application.Services.Estates.Queries.GetEstates.GetEstatesDto
@{
    ViewData["Title"] = "ثبت اطلاعات ملک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                   
                    <div class="alert alert-info help-alert margin-bottom-0">
                        <img src="~/Content/Images/lightbulb.png" alt="tip" />
                        در صورت عمل نکردن دکمه ثبت، توجه داشته باشید که تمام اطلاعات ستاره دار را در تمام تب های موجود صحیح وارد کرده باشید
                        <br />
                        در تحلیل پروژه ارتباط بین ملک و مالک یک به یک می باشد هر چند در واقعیت معمولا این ارتباط یک به چند است.
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" id="btnAddEstates" class="btn btn-success btn-md">
                        ثبت اطلاعات ملک
                    </button>
                </div>

            </div>
            <hr class="margin-bottom-5 margin-top-5" />
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#baseInfo" data-toggle="tab">اطلاعات پایه</a>
                </li>
                <li>
                    <a href="#other" data-toggle="tab">اطلاعات مالک </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="baseInfo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="No">شماره* </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" type="text" id="No" name="No" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Title">عنوان* </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" dir="rtl" id="Title" name="Title" type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="AreaMeter">متراژ* </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" type="number" class="form-control" dir="ltr" id="AreaMeter" name="AreaMeter" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="EstateType">نوع ملک* </label>
                                <div class="col-md-9">
                                    @Html.DropDownList("EstateType",
                                    Html.GetEnumSelectList<EstateType>(),
                                    "انتخاب کنید", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Address">آدرس </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" dir="rtl" id="Address" name="Address" type="text" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="other">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="FirstName">نام* </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" id="FirstName" name="FirstName" type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="LastName">نام خانوادگی* </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" dir="rtl" id="LastName" name="LastName" type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Phone">شماره تماس </label>
                                <div class="col-md-9">
                                    <input autocomplete="off" class="form-control" type="number" dir="ltr" id="Phone" name="Phone" value="" maxlength="50">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Menu{
    @await Component.InvokeAsync("GetSideBar")
}
@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>

        $('#btnAddEstates').on('click', function () {
            var formStatus = $('form').validate().form();
            if (formStatus == true) {

                debugger;
                var data = new FormData();

                data.append("No", $("#No").val());
                data.append("Title", $("#Title").val());
                data.append("AreaMeter", $("#AreaMeter").val());
                data.append("Address", $("#Address").val());
                data.append("FirstName", $("#FirstName").val());
                data.append("LastName", $("#LastName").val());
                data.append("Phone", $("#Phone").val());
                data.append("EstateType", $('#EstateType').find('option:selected').val());

                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "Create",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {

                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                window.location.href = "/Estates/";
                            });
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }

                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            }
        });

    </script>
}
