﻿@addTagHelper *, LazZiya.TagHelpers
@using Sample_Project.Application.Services.Estates.Queries.GetEstates
@model ReslutGetEstateDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <button aria-controls="show-search" aria-expanded="false" class="btn btn-default  btn-block" data-target="#show-search" data-toggle="collapse" type="button">
                    <i class="fa fa-search"></i>
                    جستجو
                </button>
            </div>
        </div>
        <form method="get" class="col-md-12 mb-1">

            <div class="row collapse" id="show-search">
                <hr class="margin-top-5 margin-bottom-5" />
                <div class="alert alert-info help-alert margin-bottom-0">
                    <img alt="tip" src="/Content/Images/lightbulb.png">با استفاده از فرم زیر ، امکان جستجو براساس شماره،
                    عنوان، آدرس و نام مالک را خواهید داشت..
                    <br>برای لغو فیلتر اعمال شده میتوانید از دکمه لغو استفاده کنید.<br>
                </div>
                <div class="well">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FirstName">
                                    <i class="fa fa-align-justify"></i>
                                    کلمه مورد جستجو
                                </label>
                                <input name="searchkey" id="searchkey" class="form-control input-sm"
                                       placeholder="" type="text" value="">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <button class=" btn btn-sm btn-primary">
                                    <i class="fa fa-ellipsis-h"></i>
                                    اعمال فیلتر
                                </button>
                                <a class=" btn btn-default btn-sm" href="~/Estates/Index">
                                    <i class="fa fa-arrow-up"></i>
                                    لغو فیلتر
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="panel-body">
        <div class="row" id="EstateList">
            @foreach (var item in Model.Estates)
            {
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div class="row">


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="text-muted">شماره :</label>
                                            <small>@item.No</small>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="text-muted">عنوان :</label>
                                            <small>
                                                @item.Title
                                            </small>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="text-muted">آدرس  :</label>
                                            <small> @item.Address</small>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="text-muted" for="birthDate">نام مالک :</label>
                                            <small> @item.FirstName</small>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="text-muted" for="Code">نام خانوادگی مالک:</label>
                                            <small> @item.LastName</small>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="text-muted" for="birthPlace">شماره تماس :</label>
                                            <small> @item.Phone</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr class="margin-bottom-5 margin-top-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fa fa-check-square-o text-success"></i>
                                    <small class="text-muted">ثبت توسط:</small>
                                    <small>@item.CreatorUserName</small><br>
                                    <i class="fa fa-calendar-o"></i>
                                    <small>در :</small>
                                    <time>@item.InsertTime.ToPersianDateString()</time>
                                    <i class="fa fa-clock-o "></i>
                                    <time>@item.InsertTime.ToString("hh:mm:dd")</time>
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-edit text-info"></i>
                                    <small class="text-muted">ویرایش توسط:</small>
                                    <small>@item.EditorUserName</small><br>
                                    <i class="fa fa-calendar-o"></i>
                                    <small>در :</small>
                                    <time>@item.UpdateTime </time>
                                    <i class="fa fa-clock-o"></i>
                                    <time></time>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a href="~/Estates/Edit/@item.Id" class="btn btn-sm btn-primary" type="button">
                                    <i class="fa fa-edit"></i>
                                    ویرایش
                                </a>

                                <button class="btn-sm btn btn-danger"
                                        type="button" onclick="DeleteEstate('@item.Id')">
                                    <i class="fa fa-trash-o"></i>
                                    حذف
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="panel-footer padding-5-5">


    </div>
</div>
@section Menu{
    @await Component.InvokeAsync("GetSideBar")
}

@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>

        function DeleteEstate(estateId) {
            swal.fire({
                title: 'حذف ملک',
                text: "کاربر گرامی از حذف اطلاعات مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، اطلاعات ملک حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'EstateId': estateId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }



    </script>

}