﻿@using Sample_Project.Application.Services.Users.Queries.GetUsers
@model ReslutGetUserDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <aside class="col-md-2  animated fadeInRight">
        <div class="panel">
            <div class="list-group panel-body" id="sidebar">

                <a class="list-group-item second-split active" href="/users/index"><span class="fa fa-user"></span>لیست کاربران</a>
                <a class="list-group-item second-split" href="/users/index"><span class="fa fa-group"></span>لیست گروه های کاربری</a>
            </div>
        </div>
    </aside>
    <div class="col-md-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info help-alert margin-bottom-0">
                            <img src="~/Content/Images/lightbulb.png" alt="tip" />
                           این بخش از پروژه هنوز تکمیل نشده است.
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-default btn-sm" role="button"><i class="fa fa-plus"></i>درج کاربر جدید</a>
                    </div>
                    <div class="col-md-8">
                        <form action="/users/list" autocomplete="off" class="form-horizontal search" data-ajax="true" id="userSearchForm" method="post">
                            <input id="PageIndex" name="PageIndex" type="hidden" value="1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <select class="form-control" id="RoleId" name="RoleId">
                                        <option value="">همه گروه های کاربری</option>
                                        <option value="2">اپراتور ها</option>
                                        <option value="1">مدیران</option>
                                    </select>

                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" name="FullName" class="form-control" placeholder="نام و نام خانوادگی">
                                        <span class="input-group-btn">
                                            <button type="button" id="userSearchButton" class="btn btn-success btn-sm search">
                                                <i class="fa fa-search"></i>جستجو
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" id="userList">
                    @foreach (var item in Model.Users)
                    {
                        <div class="col-md-6 data-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <i class="fa fa-user"></i>
                                    <label class="text-muted">
                                        ایمیل
                                    </label>
                                    <small>@item.Email</small>

                                    <label class="text-muted">نام-نام خانوادگی :</label>
                                    <small> @item.FullName</small>
                                    <i class="fa fa-check-square-o text-success"></i>
                                    <small class="text-muted">کاربر سیستمی</small>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">

                                        <a class="btn btn-primary btn-sm" href="/users/edit/@item.Id">
                                            <i class="fa fa-edit"></i>ویرایش
                                        </a>


                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>

                    }

                </div>
            </div>
            <div class="panel-footer padding-5-5">

            </div>
        </div>

    </div>
</div>
