﻿
@{
    Layout = null;
}

<a class="list-group-item second-split" href="/Estates/Index" ><span class="fa fa-group"></span>لیست املاک</a>

<a class="list-group-item second-split" href="/Estates/Create"><span class="fa fa-plus"></span>درج ملک </a>




