﻿
@{
    ViewData["Title"] = "Signin";
}

<div class="row margin-top-5">

    <div class="col-md-10 col-md-offset-1">
        <div class="panel  panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="Email">ایمیل </label>
                    <div class="col-md-9">
                        <input autocomplete="off" class="form-control valid"
                               dir="ltr" id="Email" name="Email" type="text" value="" maxlength="256">
                    </div>
                </div>

                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="Password">کلمه عبور</label>
                    <div class="col-md-9">
                        <input class="form-control valid" data-val="true" id="Password" name="Password" type="password" maxlength="50" aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <input class="checkbox-inline" id="RememberMe" name="RememberMe" type="checkbox" value="true">
                        <input name="RememberMe" type="hidden" value="false">
                        <label class="control-label" for="RememberMe">مرا به خاطر بسپار</label>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <button type="button" autocomplete="off" onclick="Login()" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-block">
                    ورود به حساب کاربری
                </button>
                <a type="button" href="~/Account/Signup" autocomplete="off" class="btn btn-default btn-block">
                    ثبت نام
                </a>
            </div>
        </div>
    </div>

</div>

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>
<script>
    function Login() {
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var postData = {
            'Email': Email,
            'Password': Password,
        };
        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Signin",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        //window.location.replace("/");
                        window.location.href = "/Home/Index";
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>

