﻿
@{
    ViewData["Title"] = "ثبت نام";
}

<div class="row margin-top-5">

    <div class="col-md-10 col-md-offset-1">
        <div class="panel  panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="FullName">نام و نام خانوادگی* </label>
                    <div class="col-md-9">
                        <input autocomplete="off" class="form-control valid"
                               dir="rtl" id="FullName" name="FullName" type="text" maxlength="200">
                    </div>
                </div>
        
                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="Email">ایمیل* </label>
                    <div class="col-md-9">
                        <input autocomplete="off" class="form-control valid" dir="ltr" id="Email" name="Email" type="text" maxlength="100">
                    </div>
                </div>
              
                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="Password">کلمه عبور*</label>
                    <div class="col-md-9">
                        <input class="form-control valid" data-val="true" id="Password" name="Password" type="password" maxlength="50">
                    </div>
                </div>
          
                <div class="form-group has-success">
                    <label class="col-md-2 control-label" for="RePassword">تکرار کلمه عبور*</label>
                    <div class="col-md-9">
                        <input class="form-control valid" id="RePassword" name="RePassword" type="password" maxlength="50">
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <button type="button" onclick="CreateUser()" class="btn btn-success btn-block">
                    ثبت نام
                </button>

            </div>
        </div>
    </div>

</div>

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
    function CreateUser() {

        var FullName = $("#FullName").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var RePassword = $("#RePassword").val();

        var postData = {
            'FullName': FullName,
            'Email': Email,
            'Password': Password,
            'RePassword': RePassword,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Signup",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        window.location.href = "/Home/Index";
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>

