﻿
@{
    Layout = null;
}

<div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">

        <li class="main">
            <a href="~/Estates/Index">مدیریت املاک </a>
        </li>

        <li class="main">
            <a href="~/Users/Index">مدیریت کاربران</a>
        </li>


        <li class="main">
            <a href="~/SystemInfo/Index">نگهداری سیستم</a>
        </li>


        <li class="main">
            <a href="~/Account/Login"></a>
        </li>


    </ul>
    <ul class="nav navbar-nav navbar-left">

        <li class="dropdown noti-dropdown main">
            <a>
                <span class="badge bage-noti digit"></span>
                <span class="fa fa-user  animated infinite"></span>
                @User.Identity.Name
            </a>
        </li>


        <li>
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger"></button>
                <ul class="dl-menu">
                    <li>
                        <a href="#">
                            تنظیمات کاربری
                        </a>
                    </li>

                    <li>
                        <a href="~/Account/SignOut">
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>


