﻿@{
    ViewData["Title"] = "اطلاعات سیستم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-md-12">


        <div class="panel panel-default">
            <div class="panel-heading">
              
            </div>
            <div class="panel-body">
              
            </div>
            <div class="panel-footer padding-5-5">

               
            </div>
        </div>



    </div>